.payment {
  width: 100%;
  /* display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: start; */
}

.payment .payment_title h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  color: var(--text-black);
  margin-left: 10px;
  margin-top: 7px;
}

.payment .payment_chart {
  width: 100%;
  display: flex;
  gap: 3vw;
  align-items: center;
  justify-content: space-between;
}

.paid_unpaid p {
  width: 2.5px;
  height: 70px;
  margin-top: 65px;
  border: 1.5px solid var(--light-gray);
}

.payment .paid_unpaid {
  width: 568px;
  height: 199px;
  padding: 10px 35px;
  display: flex;
  /* gap: 10px; */
  align-items: start;
  justify-content: space-between;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 4px var(--light-gray);
}

.paid_unpaid h5 {
  font-size: 23px;
  font-weight: 550;
  color: var(--text-black);
}


.balance_fine h5 {
  font-size: 23px;
  font-weight: 550;
  color: var(--text-black);
}

.paid .paid_item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.paid_unpaid .paid h1 {
  font-size: 70px;
  font-weight: 500;
  color: var(--light-green);
}

.paid .paid_item .paid_icon {
  width: 53px;
  height: 53px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background: var(--light-green);
  color: var(--light-gray);
}

.unpaid .unpaid_item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.unpaid h1 {
  font-size: 70px;
  font-weight: 500;
  color: var(--main-color);
}

.unpaid .unpaid_item .unpaid_icon {
  width: 53px;
  height: 53px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background: var(--main-color);
  color: var(--light-gray);
}

.payment .balance_fine {
  width: 903px;
  height: 199px;
  padding: 10px 35px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 4px var(--light-gray);

}

.balance,
.fine {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}

.balance_fine a {
  color: var(--main-dark);
  font-weight: 600;
  font-size: 19px;
}

.balance_fine .balance h1 {
  color: var(--light-green);
  font-size: 50px;
  font-weight: 500;
}

.balance_fine .balance p {
  color: var(--text-black);
  font-size: 18px;
  font-weight: 600;
}

.balance_fine .fine h1 {
  color: var(--rare-yellow);
  font-size: 50px;
  font-weight: 500;
}

.balance_fine .fine p {
  color: var(--text-black);
  font-size: 18px;
  font-weight: 600;
}


.payment_list {
  width: 100%;
}

.payment table {
  width: 100%;
  border-collapse: collapse;
  border-collapse: separate;
  border-spacing: 0 20px;

  thead {
    tr {
      th {
        border-bottom: 2px solid #c4c4c459;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
        color: var(--main-dark);

        &:first-child {
          padding-left: 35px;
        }
      }
    }
  }

  tbody {
    tr {
      border-radius: 10px;
      overflow: hidden;
      border-radius: 14px;
      box-shadow: 0px 0px 8px 3px #0000000f;

      td {
        padding: 23.5px 20px;
        text-align: left;
        border: none;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;

        &:first-child {
          width: 30%;
          padding-left: 35px;
          border-top-left-radius: 14px;
          border-bottom-left-radius: 14px;
          color: var(--text-black);
        }

        &:nth-child(2) {
          color: var(--light-green);
        }

        &:nth-child(3) {
          color: var(--main-dark);
        }

        &:nth-child(4) {
          color: var(--light-green);
        }

        &:nth-child(5) {
          border-top-right-radius: 14px;
          border-bottom-right-radius: 14px;
          text-align: justify;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: var(--rare-yellow);

          a {
            :where(.css-dev-only-do-not-override-7ny38l).ant-btn-variant-outlined,
            :where(.css-dev-only-do-not-override-7ny38l).ant-btn-variant-dashed {
              all: unset;
              display: flex;
              align-items: center;
              justify-content: center;

              svg {
                width: 24px;
                height: 24px;
                fill: var(--tooltip-hover);
                color: var(--tooltip-hover);
              }
            }
          }
        }
      }
    }
  }
}