.students-main {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 15px 0px 0px 0px;

  h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    color: #313131;
    margin-left: 10px;
  }

  .ant-tabs-nav::before {
    display: none;
    border-bottom: 0px solid transparent !important;
  }
  .ant-tabs-nav-wrap {
    width: 100%;
    height: 78px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px #c3c3c3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    padding: 0 10px;

    .ant-tabs-tab {
      height: 51px;
      font-size: 24px;
      color: rgba(119, 110, 110, 1);
      background-color: #fff;
      border-radius: 12px;
      font-weight: 500;
      transition: all 0.2s;
      display: flex;
      justify-content: center;

      padding: 10px 20px !important;
    }

    .ant-tabs-tab-active {
      background: #ef4136;
      color: #fff !important;
      border: none !important;
      outline: none !important;
      padding: 10px 20px !important;
    }

    .ant-tabs-tab-active .ant-tabs-tab-btn {
      color: #fff !important;
    }

    .ant-tabs-ink-bar-animated {
      background-color: transparent !important;
      color: inherit !important;
    }
  }

  .ant-tabs-nav-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
  }

  /* .ant-tabs-tab-focus {
    .ant-tabs-tab-btn {
      border: none;
      outline: none;
      all: unset;
    }
  } */
}
