* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

select,
input {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
}

body {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
